.done{
    color: rgb(139, 151, 219);
    text-decoration: line-through ;
}

.aside{
    font-size: 15px;
    color:rgb(139, 151, 219);
    display: block;
    
}

.custom-card{
    background-color: #fdfeee;  
    padding: 20px; 
    padding-left: 40px; 
    border-radius: 5px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
}


