<nav class="navbar navbar-dark bg-dark ">
  <div>
      <h2 class="navbar-brand pt-3 pl-5"><span class="h5 font-weight-light">TO DO LIST</span> </h2>
  </div>
</nav>
<div class="m-4 container-fluid ">
  <div class="row ">
    <div class="col-4 m-2" >
      <div class="m-3" [formGroup]="form">
        <input class="mr-3"formControlName="item">
        <button class="btn btn-primary" (click)="addItem()">Add Task</button>
      </div>
      <div class="card text-white bg-danger mb-3" *ngIf="errorState" >
        <div class="card-header">ERROR</div>
        <p class="card-title m-3" >{{error}}</p>
      </div>
    </div>
    <div class="col-5" >
      <ul>
        <div  *ngFor="let item of list, index as position">
          <div class="custom-card mb-3">
             <li [ngClass]="{'done': item.completed}">{{item.value}} <span class="aside">Task #{{position}}</span></li>
          
          <button class="m-2 btn btn-info" (click)="completeTask(position)">Task Done</button>
          <button class="m-2 btn btn-secondary" (click)="undoCompleteTask(position)">Restore Task</button>
        
          <button class="m-2 btn btn-danger" (click)="deleteItem(position)">Delete Task</button>
          </div>
        </div>
      </ul>
    </div>
  </div>
</div>


